    <footer class="footer">
    <div class="container text-center">
        <a href="http://twitter.com/isusieq"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/susanfinkel/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/sxfinkel"><i class="fa fa-github"></i></a>
        <a href="https://codepen.io/isusieq/"><i class="fa fa-codepen"></i></a>
        <a href="http://isusieq.com/resume"><i class="fa fa-address-card"></i></a>
        
      </div.  
    </div><!--End container-->
</footer><!--End footer 2-->